<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/tilan/IdeaProjects/PageObjectModel">
        <classes>
            <class name="com.testcases.LoginApplication">
            <!--<methods>
                <include name="login"/>
            </methods>-->
        </class>
        </classes></test></suite>